.Home {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background: linear-gradient(90deg, #222220, #2E2E2E, #222220);
    position: relative
}

.cart-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 8px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.cart-button a {
  text-decoration: none;
  color: black;
}

.cart-button .cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  font-size: 14px;
}

  .products-container-wrapper {
    display: flex;
    flex-direction: column; /* Stack products container and cart button vertically */
    align-items: center; /* Center items horizontally */
    width: 100%;
    padding: 20px;
  }

  .products-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    max-width: 1200px; 
    width: 100%; 
    padding: 0 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }

.product {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.addbutton {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .products-container-wrapper {
        flex-direction: column-reverse;
      }
  }